TS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

/*/.classpath
/.classpath
/*/.project
/.project
.project
/*/.settings
/.settings
/*/logs
/.metadata
/Servers*/
/*/target/
/target/
/tomcat/
tomcat/
/sandbox*/
/*/.externalToolBuilders
logs/*
.idea
*.iml
*.iws
*.ipr
*.class
*.DS_Store
MANIFEST.MF
*/src/main/java/META-INF
/*/logs
*/nbactions.xml
*/nb-configuration.xml
rebel.xml
*~
*springBeans
.springBeans
/*/bin
/*/.pydevproject
*.pyc
bin/**
.settings/**
.gradle/**
build/**
build.**
mem.**

.idea/workspace.xml

